<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>

          <ExcludeByFile>
            <File>**/DTOs/*.cs</File>
            <File>**/DTOs/**/*.cs</File>
            <File>**/Models/*.cs</File>
            <File>**/Models/**/*.cs</File>
          </ExcludeByFile>

          <Exclude>
            <Module>Groovo.DTOs</Module>
            <Module>Groovo.Models</Module>
          </Exclude>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
